body {
    background-color: rgb(4, 4, 4);
    color:white;
    margin: 0px;
    padding:0px;
}

.order{
    /* background-color: rgb(8, 8, 8); */
    user-select: none;
}

.order li{
   list-style-type: none; 
}

#mute-icon, #muted-icon, #volume-btn, #menu-btn {
    user-select: none;
}

#order-container {
    scrollbar-width: none;
}